extends _page-template

block content
    | <!-- skin 2 -->

    .w-inner
        +header
        +rating({
            role: 'svg star'
        })
        .w-center
            #fullpage
                #section1.section
                    +info
                #section2.section
                    +experience
                #section3.section
                    +about
                #section4.section
                    +personal
                #section5.section
                    +skills

                #section6.section
                    +contacts


block scripts
    script.
        $(document).ready(function () {
            if (($(window).innerWidth() <= 768)) {
                $('#fullpage').fullpage({
                    navigation: true,
                    scrollingSpeed: 700,
                    autoScrolling: true,
                    loopBottom: true,
                    loopTop: true,
                    keyboardScrolling: true,
                    navigationPosition: 'right',

                    controlArrows: true,
                    verticalCentered: true,
                    paddingTop: '3em',
                    paddingBottom: '10px',
                    responsiveWidth: 0,
                    responsiveHeight: 0,
                });
            }
        })