extends _page-template

block content
    | <!-- skin 2 -->

    .w-inner
        +header
        +rating({
            role: 'svg star'
        })
        .w-center
            #fullpage
                #section1.section
                    +info
                #section2.section.c-hide-sm
                    +experience
                #section3.section
                    #about
                        +about
                #section4.section
                    #SoftSkills
                        +personal
                #section5.section
                    #skills
                        +skills
                #section6.section
                    #contacts
                        +contacts

        footer.c-footer
            .w-center
                .c-footer-wrap
                    a.c-link(href="https://github.com/Albumo/resume") My GitHub

block scripts
    script.
        $(document).ready(function () {
            if (($(window).innerWidth() <= 768)) {
                $('#fullpage').fullpage({
                    navigation: true,
                    scrollingSpeed: 700,
                    autoScrolling: true,
                    loopBottom: true,
                    loopTop: true,
                    keyboardScrolling: true,
                    navigationPosition: 'right',
                    verticalCentered: true,
                });
            }
        })