extends _page-template

block content
    | <!-- skin 2 -->

    .w-inner
        +header
        +rating({
            role: 'svg star'
        })
        .w-center
            #fullpage
                #section1.section
                    +info
                #section2.section.c-hide-sm
                    +experience
                #section3.section
                    #about
                        +about
                #section4.section
                    #SoftSkills
                        +personal
                #section5.section
                    #skills
                        +skills
                #section6.section
                    #contacts
                        +contacts

        footer.c-footer
            .w-center
                .c-footer-wrap
                    a.c-link(href="https://github.com/Albumo/resume") My GitHub

block scripts
    script.
        $(document).ready(function () {

            var fullPageCreated = false;
            createFullpage();

            function createFullpage() {
                if (fullPageCreated === false) {
                    fullPageCreated = true;
                    $('#fullpage').fullpage({
                        navigation: true,
                        autoScrolling: true,
                        loopBottom: true,
                        loopTop: true,
                        keyboardScrolling: true,
                        navigationPosition: 'right',
                        verticalCentered: true,
                    });
                }
            }

            if (document.documentElement.clientWidth > 768) {
                $.fn.fullpage.destroy('all');
            }

            $(window).resize(function () {
                if ($(window).width() <= 768) {
                    createFullpage();
                } else {
                    if (fullPageCreated == true) {
                        fullPageCreated = false;
                        $.fn.fullpage.destroy('all');
                    }
                }

            });
        })