$theme-name: 'theme_cold';

//common
$primary-text: #fff;
$primary-fill: linear-gradient(180deg, hsla(236, 29%, 9%, 1) 19%, hsla(212, 75%, 25%, 1) 100%);

$secondary-fill: #f5f3f9;
$list-marker: #e44f36;
$link-default: #e44f36;
$primary-title: #fff;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-img-bd: #fff;


//== Colors
$brand-default: #F1F1F1 !default;
$brand-primary: #F8AB37 !default;
$brand-warning: #F83747 !default;
$brand-success: #37F87B !default;
$brand-info: #379FF8 !default;

$color-blue: #2685C7 !default;


//footer
$footer-fill: #000;
$footer-title: #22c1ce;
$footer-title-icon: #000;

//rating
$rating-elem-fill: #7d90a9;
$rating-empty-elem-fill: #d3dfe8;
$rating-text: #151823;

//contacts
$contacts-icon: #1a2d3c;
$contacts-icon-hov: #084db3;
$contact-link: #253854;
$contact-link-hov: #084db3;