$theme-name: 'theme_cold';

//common
$primary-text: #1a2d3c;
$primary-fill: #fff;
$secondary-fill: #f5f3f9;
$list-marker: #e44f36;
$link-default: #e44f36;
$primary-title: #1a2d3c;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-img-bd: #d3dfe8;

//footer
$footer-fill: #c3c9d4;
$footer-title: #22c1ce;
$footer-title-icon: #000;

//rating
$rating-elem-fill: #7d90a9;
$rating-empty-elem-fill: #d3dfe8;
$rating-text: #151823;

//contacts
$contacts-icon: #1a2d3c;
$contacts-icon-hov: #084db3;
$contact-link: #253854;
$contact-link-hov: #084db3;