/*!------------------------------------------------------------------------------

    c-skills-S-2

------------------------------------------------------------------------------*/

.skills {

    &__title {
        text-transform: uppercase;
    }

    &__wrap {
        position: relative;
        margin: 0 12px;

    }

    &__slider {
        display: flex;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            flex-flow: row wrap;

            .skill {
                margin-bottom: 26px;
            }
        }
    }

    .slick-arrow {
        @extend %bttn-reset;
        position: absolute;
        top: calc(148px - 38%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        z-index: 1;
        border: 1px solid #fff;
        border-radius: 50%;
        font-size: 0;
        outline: none;
        transition: all .35s ease-in-out;

        &:before {
            content: '';
            width: 15px;
            height: 15px;
            margin: -1px 0 0 0px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.995 511.995'%3E%3Cpath fill='%23fff' d='M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 14px;
        }

        &:hover,
        &:focus {
            background: #084db3;
        }
    }

    .slick-next {
        right: -35px;

        &:before {
        }
    }

    .slick-prev {
        left: -35px;

        &:before {
            transform: scale(-1, 1);
        }
    }

    & {
        .skill {
            & {
                display: flex;
                padding: 0 6px;
            }

            &__header {
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            &__photo {
                max-width: 160px;
                min-width: 120px;
                min-height: 120px;
                overflow: hidden;

                img {
                    display: inline-block;
                    width: 100%;
                    min-width: 100%;
                    min-height: 100%;

                    @include support(object-fit, cover) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__name {
                margin-right: 5px;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }

            &__rating-box {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

        }
    }

    @media only screen and (min-width: 568px) {

        &__wrap {
            margin: 0;
        }
    }
}


/*!------------------------------------------------------------------------------

    c-skills-S-1

------------------------------------------------------------------------------*/