mixin header()

    | <!-- ********** header-S-2 ********** -->

    header.header-S-2&attributes(attributes)
        .header.js-animate.js-header
            .header__wrap
                +text

    | <!-- ********** c-header-S-2 ********** -->