.header-S-2 {
    .header {
        & {
            position: fixed;
            right: 0;
            left: 0;
            z-index: 999;
            background: #10111e;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &__links {
            @extend %ul-reset;
            display: flex;
        }

        @include respond-from(sm) {

            &__links {

                li {

                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

            }

            &__link {
                color: #fff;
            }

        }

        @media only screen and (min-width: 1200px) {

            &__links {

                li {

                    margin-right: 40px;
                }
            }

        }
    }
}