/* figcaption */
.text {

    &__figcaption {
        display: block;
        width: 100%;
        padding-top: 20px;
        font-weight: bold;
        line-height: 2;
        word-spacing: 1px;
        text-align: center;
    }

    &__letter {
        font-size: 16px;
        color: #253854;
        text-transform: uppercase;
        animation: glow 2s ease-in-out infinite;

        &:nth-child(2) {
            animation-delay: .10s;
        }

        &:nth-child(3) {
            animation-delay: .15s;
        }

        &:nth-child(4) {
            animation-delay: .20s;
        }

        &:nth-child(5) {
            animation-delay: .25s;
        }

        &:nth-child(6) {
            padding-left: 6px;
            animation-delay: .30s;

        }

        &:nth-child(7) {
            animation-delay: .35s;

        }

        &:nth-child(8) {
            animation-delay: .40s;

        }

        &:nth-child(9) {
            padding-left: 6px;
            animation-delay: .45s;
        }

        &:nth-child(10) {
            animation-delay: .50s;

        }

        &:nth-child(11) {
            animation-delay: .55s;

        }

        &:nth-child(12) {
            animation-delay: .60s;
        }

        &:nth-child(13) {
            animation-delay: .65s;

        }

        &:nth-child(14) {
            animation-delay: .70s;

        }

        &:nth-child(15) {
            animation-delay: .75s;
        }

        &:nth-child(16) {
            animation-delay: .80s;

        }

        &:nth-child(17) {
            animation-delay: .85s;

        }

    }
}







