mixin info()
    .info-S-2
        .info.js-animate
            .info__wrap
                .info__left
                    .info__img
                        picture
                            source(type="image/webp" srcset="static/img/content/avatar.webp" media="")
                            img(class="lazyload" data-src="static/img/content/avatar.jpg" src="" alt="avatar")
                .info__right
                    .info__name Uriy Derechey
                    .info__born 25.03.1989
                    .info__experience
                        .c-hide-to-sm
                            +experience
                .info__bttm
                    ul.info__bttm-list
                        li.info__list-item Uriy&nbsp;
                        li.info__list-item is a web-developer from kiev&nbsp;
                        li.info__list-item with 5+ years of experience
