mixin include-js()
    script(src="static/js/jquery-3.1.1.min.js")
    script(src="static/js/fullPage.min.js")
    script(src="static/js/lazysizes.min.js")
    script(src="static/js/slick.min.js")
    script(src="static/js/custom.js")
