mixin footer()

    |<!-- ********** c-footer-S-1 ********** -->

    footer.footer-S-1.js-footer.js-box-arrow&attributes(attributes)
        .footer
            .w-center
                .footer__main
                    +contacts

                .footer__copy
                    p Copyright  2020. All Rights Reserved

    |<!-- ********** c-footer-S-1 ********** -->