/*------------------------------------------------------------------------------

    c-footer-S-1

------------------------------------------------------------------------------*/

.footer-S-1 {
    .footer {
        & {
            background: $footer-fill;
        }

        &__main {
        }

        &__logo {
            display: inline-block;
            font-size: $font-size;
            color: #fff;

        }

        &__copy {
            padding: 20px 0;
            font-size: 14px;
            text-align: center;

            p {
                margin: 0;
            }
        }

    }
}

/*------------------------------------------------------------------------------

    c-footer-S-1

------------------------------------------------------------------------------*/
