.about {

    &__titling {
        text-transform: uppercase;
    }

    @include respond-from(sm) {

        &__titling {
            opacity: 0;
        }

        &__wrap {
            &.is-animated {
                .about__titling {
                    animation: fadeIn 1s linear both;
                }

            }
        }

    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .about__titling {
            opacity: 1;
        }
    }
}