mixin about(props)
    .about
        .about__wrap.js-animate
            .about__text-wrap
                h2.about__titling About me
                span.about__text I am interested in IT and everything with it. Five years ago I began to be fascinated by web programming, developing apps and building websites. Invited to join my friend's start-up company as a front-end developer, I gained experience of working in this area. It was my first steps in a long journey.I look forward to a job that would allow for growth, with a good friendly and open mind team.In return, I would offer my full commitment, and be a pleasant and friendly addition to your team.