extends _page-template

block content
    |<!-- skin 1 -->

    .w-inner
        +header
        .w-center
            .w-gap-md
                +skills
            .w-gap-md
                +experience
            .w-gap-md
                +about
    .w-gap-md
        +footer