mixin text()
    .text
        .text__font
            figure.text__figure
                figcaption.text__figcaption
                    span.text__letter F
                    span.text__letter R
                    span.text__letter O
                    span.text__letter N
                    span.text__letter T
                    span.text__letter E
                    span.text__letter N
                    span.text__letter D
                    span.text__letter D
                    span.text__letter E
                    span.text__letter V
                    span.text__letter E
                    span.text__letter L
                    span.text__letter O
                    span.text__letter P
                    span.text__letter E
                    span.text__letter R