.experience-S-2 {
    .experience {
        padding: 0 20px 0 0;



        &__list {
            @extend %ul-reset;
        }

        &__titling {
            text-transform: uppercase;

        }

        &__item {
            margin-bottom: 10px;

        }

        &__company {
            margin: 0;
            font-weight: 600;
        }

        @media only screen and (min-width: 568px) {
            &__item {
                display: flex;
            }

            &__date {
                margin-left: 10px;
            }
        }

        @include respond-from(sm) {

            & {
                padding: 0;
            }

            &__titling {
                margin-top: 20px;
                font-size: 16px;
                text-align: left;
                opacity: 0;

            }

            &__item {
                font-size: 14px;
                opacity: 0;

            }

            &__company {
                width: 59%;
            }

            &__date {
                width: 41%;
            }

            &__item {
                display: flex;
                justify-content: space-between;
                opacity: 0;
            }


            &.is-animated {
                .experience__titling {
                    animation: fadeIn 1.2s linear both;
                }

                .experience__item {
                    animation: fadeIn 1.3s linear both;

                    &:nth-child(2) {
                        animation-delay: 1.4s;
                    }

                    &:nth-child(3) {
                        animation-delay: 1.5s;
                    }
                }

            }


        }
    }
}
