.experience-S-2 {
    .experience {
        padding: 0 20px 0 0;



        &__list {
            @extend %ul-reset;
        }

        &__titling {
            text-transform: uppercase;

        }

        &__item {
            margin-bottom: 10px;

        }

        &__company {
            margin: 0;
            font-weight: 600;
        }

        @media only screen and (min-width: 568px) {
            &__item {
                display: flex;
            }

            &__date {
                margin-left: 10px;
            }
        }

        @include respond-from(sm) {

            &__titling {
                opacity: 0;

            }

            &__item {
                opacity: 0;

            }

            &.is-animated {
                .experience__titling {
                    animation: fadeIn 1.6s linear both;
                }

                .experience__item {
                    animation: fadeInLeft 1.6s linear both;

                    &:nth-child(2) {
                        animation-delay: 1.6s;
                    }

                    &:nth-child(3) {
                        animation-delay: 1.9s;
                    }
                }

            }

            &__item {
                justify-content: center;
            }

        }
    }
}
