mixin experience(props)
    .experience-S-2
        .experience.js-animate
            h2.experience__titling experience
            ul.experience__list
                li.experience__item
                    p.experience__company JUNIOR FRONTEND, ITTeam
                    span.experience__date 2016.06-2017.10
                li.experience__item
                    p.experience__company JUNIOR FRONTEND, Noosphere Ventures, Optellect
                    span.experience__date 2017.10-2020.01

                li.experience__item
                    p.experience__company JUNIOR FRONTEND, TrafficTerminal
                    span.experience__date 2020.01-2021.04