.contacts-S-2 {
    .contacts {
        &__wrap {
            padding: 20px 0 0;
        }

        &__icon {
            display: flex;
            align-items: center;
            margin-bottom: 18px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            color: $contact-link;
            text-decoration: none;
            transition: all .25s ease-in-out;

            &:before {
                content: '';
                display: inline-block;
                width: 22px;
                height: 20px;
                margin-right: 5px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.076 512.076'%3E%3Cpath fill='#{url-friendly-color($contacts-icon)}' d='M498.639 395.039l-103.646-69.12c-13.153-8.701-30.784-5.838-40.508 6.579l-30.191 38.818a12.903 12.903 0 01-16.546 3.482l-5.743-3.166c-19.038-10.377-42.726-23.296-90.453-71.04s-60.672-71.45-71.049-90.453l-3.149-5.743a12.92 12.92 0 013.413-16.606l38.792-30.182c12.412-9.725 15.279-27.351 6.588-40.508l-69.12-103.646C108.12.056 90.25-3.966 76.461 4.323L33.12 30.358A61.136 61.136 0 005.242 66.539c-15.607 56.866-3.866 155.008 140.706 299.597 115.004 114.995 200.619 145.92 259.465 145.92a151.181 151.181 0 0040.107-5.239 61.079 61.079 0 0036.181-27.878l26.061-43.315c8.301-13.792 4.281-31.673-9.123-40.585zm-5.581 31.829l-26.001 43.341a44.103 44.103 0 01-26.027 20.173c-52.497 14.413-144.213 2.475-283.008-136.32S7.29 123.559 21.703 71.054a44.17 44.17 0 0120.198-26.061l43.341-26.001c5.983-3.6 13.739-1.855 17.604 3.959l37.547 56.371 31.514 47.266c3.774 5.707 2.534 13.356-2.85 17.579l-38.801 30.182c-11.808 9.029-15.18 25.366-7.91 38.332l3.081 5.598c10.906 20.002 24.465 44.885 73.967 94.379 49.502 49.493 74.377 63.053 94.37 73.958l5.606 3.089c12.965 7.269 29.303 3.898 38.332-7.91l30.182-38.801c4.224-5.381 11.87-6.62 17.579-2.85l103.637 69.12c5.818 3.862 7.563 11.622 3.958 17.604zM290.161 85.39c80.081.089 144.977 64.986 145.067 145.067 0 4.713 3.82 8.533 8.533 8.533s8.533-3.82 8.533-8.533c-.099-89.503-72.63-162.035-162.133-162.133-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z'/%3E%3Cpath fill='#{url-friendly-color($contacts-icon)}' d='M290.161 136.59c51.816.061 93.806 42.051 93.867 93.867a8.533 8.533 0 0017.066 0c-.071-61.238-49.696-110.863-110.933-110.933-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z'/%3E%3Cpath fill='#{url-friendly-color($contacts-icon)}' d='M290.161 187.79c23.552.028 42.638 19.114 42.667 42.667a8.533 8.533 0 0017.066 0c-.038-32.974-26.759-59.696-59.733-59.733-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 20px;
                transition: all .25s ease-in-out;
            }

            &:hover,
            &:focus {
                color: $contact-link-hov;

                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.076 512.076'%3E%3Cpath fill='#{url-friendly-color($contacts-icon-hov)}' d='M498.639 395.039l-103.646-69.12c-13.153-8.701-30.784-5.838-40.508 6.579l-30.191 38.818a12.903 12.903 0 01-16.546 3.482l-5.743-3.166c-19.038-10.377-42.726-23.296-90.453-71.04s-60.672-71.45-71.049-90.453l-3.149-5.743a12.92 12.92 0 013.413-16.606l38.792-30.182c12.412-9.725 15.279-27.351 6.588-40.508l-69.12-103.646C108.12.056 90.25-3.966 76.461 4.323L33.12 30.358A61.136 61.136 0 005.242 66.539c-15.607 56.866-3.866 155.008 140.706 299.597 115.004 114.995 200.619 145.92 259.465 145.92a151.181 151.181 0 0040.107-5.239 61.079 61.079 0 0036.181-27.878l26.061-43.315c8.301-13.792 4.281-31.673-9.123-40.585zm-5.581 31.829l-26.001 43.341a44.103 44.103 0 01-26.027 20.173c-52.497 14.413-144.213 2.475-283.008-136.32S7.29 123.559 21.703 71.054a44.17 44.17 0 0120.198-26.061l43.341-26.001c5.983-3.6 13.739-1.855 17.604 3.959l37.547 56.371 31.514 47.266c3.774 5.707 2.534 13.356-2.85 17.579l-38.801 30.182c-11.808 9.029-15.18 25.366-7.91 38.332l3.081 5.598c10.906 20.002 24.465 44.885 73.967 94.379 49.502 49.493 74.377 63.053 94.37 73.958l5.606 3.089c12.965 7.269 29.303 3.898 38.332-7.91l30.182-38.801c4.224-5.381 11.87-6.62 17.579-2.85l103.637 69.12c5.818 3.862 7.563 11.622 3.958 17.604zM290.161 85.39c80.081.089 144.977 64.986 145.067 145.067 0 4.713 3.82 8.533 8.533 8.533s8.533-3.82 8.533-8.533c-.099-89.503-72.63-162.035-162.133-162.133-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z'/%3E%3Cpath fill='#{url-friendly-color($contacts-icon-hov)}' d='M290.161 136.59c51.816.061 93.806 42.051 93.867 93.867a8.533 8.533 0 0017.066 0c-.071-61.238-49.696-110.863-110.933-110.933-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z'/%3E%3Cpath fill='#{url-friendly-color($contacts-icon-hov)}' d='M290.161 187.79c23.552.028 42.638 19.114 42.667 42.667a8.533 8.533 0 0017.066 0c-.038-32.974-26.759-59.696-59.733-59.733-4.713 0-8.533 3.82-8.533 8.533s3.82 8.533 8.533 8.533z'/%3E%3C/svg%3E");
                }
            }
        }

        .contacts__mail {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{url-friendly-color($contacts-icon)}' d='M485.743 85.333H26.257C11.815 85.333 0 97.148 0 111.589V400.41c0 14.44 11.815 26.257 26.257 26.257h459.487c14.44 0 26.257-11.815 26.257-26.257V111.589c-.001-14.441-11.816-26.256-26.258-26.256zm-9.853 19.691L271.104 258.626c-3.682 2.802-9.334 4.555-15.105 4.529-5.77.026-11.421-1.727-15.104-4.529L36.109 105.024H475.89zM366.5 268.761l111.59 137.847c.112.138.249.243.368.368H33.542c.118-.131.256-.23.368-.368L145.5 268.761a9.846 9.846 0 00-1.464-13.851c-4.227-3.419-10.424-2.771-13.844 1.457l-110.5 136.501V117.332l209.394 157.046c7.871 5.862 17.447 8.442 26.912 8.468 9.452-.02 19.036-2.6 26.912-8.468l209.394-157.046v275.534L381.807 256.367c-3.42-4.227-9.623-4.877-13.844-1.457-4.234 3.419-4.884 9.624-1.463 13.851z'/%3E%3C/svg%3E");
            }

            &:hover,
            &:focus {
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{url-friendly-color($contacts-icon-hov)}' d='M485.743 85.333H26.257C11.815 85.333 0 97.148 0 111.589V400.41c0 14.44 11.815 26.257 26.257 26.257h459.487c14.44 0 26.257-11.815 26.257-26.257V111.589c-.001-14.441-11.816-26.256-26.258-26.256zm-9.853 19.691L271.104 258.626c-3.682 2.802-9.334 4.555-15.105 4.529-5.77.026-11.421-1.727-15.104-4.529L36.109 105.024H475.89zM366.5 268.761l111.59 137.847c.112.138.249.243.368.368H33.542c.118-.131.256-.23.368-.368L145.5 268.761a9.846 9.846 0 00-1.464-13.851c-4.227-3.419-10.424-2.771-13.844 1.457l-110.5 136.501V117.332l209.394 157.046c7.871 5.862 17.447 8.442 26.912 8.468 9.452-.02 19.036-2.6 26.912-8.468l209.394-157.046v275.534L381.807 256.367c-3.42-4.227-9.623-4.877-13.844-1.457-4.234 3.419-4.884 9.624-1.463 13.851z'/%3E%3C/svg%3E");
                }
            }

        }

        .contacts__facebook {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.605 48.605'%3E%3Cpath fill='#{url-friendly-color($contacts-icon)}' d='M34.094 8.688h4.756V.005h-8.643c-.721-.03-9.51-.198-11.788 8.489-.033.091-.761 2.157-.761 6.983l-7.903.024v9.107l7.913-.023v24.021h12.087v-24h8v-9.131h-8v-2.873c0-1.786.753-3.914 4.339-3.914zm1.661 8.786v5.131h-8v24h-8.087V22.579l-7.913.023v-5.107l7.934-.023-.021-1.017c-.104-5.112.625-7.262.658-7.365 1.966-7.482 9.473-7.106 9.795-7.086l6.729.002v4.683h-2.756c-4.673 0-6.338 3.054-6.338 5.912v4.873h7.999z'/%3E%3C/svg%3E");
            }

            &:hover,
            &:focus {
                &:before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48.605 48.605'%3E%3Cpath fill='#{url-friendly-color($contacts-icon-hov)}' d='M34.094 8.688h4.756V.005h-8.643c-.721-.03-9.51-.198-11.788 8.489-.033.091-.761 2.157-.761 6.983l-7.903.024v9.107l7.913-.023v24.021h12.087v-24h8v-9.131h-8v-2.873c0-1.786.753-3.914 4.339-3.914zm1.661 8.786v5.131h-8v24h-8.087V22.579l-7.913.023v-5.107l7.934-.023-.021-1.017c-.104-5.112.625-7.262.658-7.365 1.966-7.482 9.473-7.106 9.795-7.086l6.729.002v4.683h-2.756c-4.673 0-6.338 3.054-6.338 5.912v4.873h7.999z'/%3E%3C/svg%3E");
                }
            }

        }
    }
}

