mixin contacts()
    .contacts-S-2&attributes(attributes)
        .contacts
            .contacts__wrap.js-animate
                h2.contacts__title Contacts
                .contacts__icons-wrap
                    .contacts__icon
                        .contacts__link.contacts__phone +380638233524
                    .contacts__icon
                        a.contacts__link.contacts__mail(href="mailto:uriyderechey@gmail.com") uriyderechey@gmail.com
                    .contacts__icon
                        a.contacts__link.contacts__facebook(href="https://www.facebook.com/DJpoTIM") Facebook
